* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    user-select: none;
    cursor: pointer;
}

html,
body {
    height: 100vh;
    overflow: hidden;
    position: relative;
}

canvas {
    color: hsl(210, 80%, 34%);

    background: linear-gradient(135deg, rgba(174, 0, 255, 0.644) 5%, rgb(0, 204, 255));
}



#bubble {
    display: none;
}

.score {
    position: absolute;
    width: 300px;
    height: 100px;
    background: rgba(0, 0, 0, 0.4);
    z-index: 2;
    border-radius: 30px;
    top: 100px;
    left: 100px;
    color: white;
    text-align: center;
}

.score>div {
    font-size: 2rem;
}